* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, sans-serif;
}



.hero {
    height: 100vh;
    background: url('background.png') no-repeat center center/cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(0, 0, 0, 0.897);
    position: relative;
    margin-top: 70px;
}
.large-text {
    font-size: 4.5rem;
    font-weight: bold;
    max-width: 800px;
    margin-left: 100px;
    margin-top: 50px;
}
.small-text {
    font-size: 2rem;
    max-width: 600px;
    margin-top: 50px;
    margin-left: 100px;
}


.services {
    margin-top: 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.services:nth-child(even) {
    margin-left: auto;
    margin-right: 100px;
}
.services:nth-child(odd) {
    margin-right: auto;
    margin-left: 100px;
}
.services h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}
.services ul {
    list-style-type: disc;
    padding-left: 20px;
}
.services li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}
.services-container {
    height: 100vh;
    position: relative;
    background: url('background2.png') no-repeat center center/cover;
    
    margin-left: auto;
    margin-right: auto;
}
.space {
    height: 80px;
}
#b3 {
    background: url('background3.png') no-repeat center center/cover;
}