.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 20px;
    z-index: 1000;
}
.logo {
    height: 50px;
    margin-right: 50px;
}
.navbar nav a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: xx-large;
}
.navbar nav a:hover {
    color: #ff6347;
}


.top-section {
    height: 150px;
    background-color: #d3f2ff;
    font-size: 4.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 100px;
}