* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
.main {
    background: url('background6.png') no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.897);
}
.large-text {
    font-size: 4.5rem;
    font-weight: bold;
    max-width: 800px;
    margin-top: 50px;
    margin-left: 30px;
}
.small-text {
    font-size: 2rem;
    max-width: 600px;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 30px;
}
.button {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 530px;
}
.container {
    position: relative;
    background: url('background3.png') no-repeat center center/cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.info p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
}
.card h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.card p {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #333;
}
.card strong {
    font-weight: bold;
}
.card:nth-child(1) {
    border-left: 4px solid #007BFF; 
}
.card:nth-child(2) {
    border-left: 4px solid #28A745; 
}
.card:nth-child(3) {
    border-left: 4px solid #FFC107; 
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.card:nth-child(even) {
    margin-left: auto;
    margin-right: 200px;
}
.card:nth-child(odd) {
    margin-right: auto;
    margin-left: 200px;
}

@media only screen and (max-width: 850px) {
    .card:nth-child(even) {
        margin-left: 20px;
        margin-right: 20px;
    }
    .card:nth-child(odd) {
        margin-left: 20px;
        margin-right: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (max-width: 815px) {
    .button {
        margin-right: 100px;
        margin-left: auto;
    }
}
@media only screen and (max-width: 550px) {
    .large-text {
        font-size: 3rem;
    }
}