* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
.main {
    background: url('background.png') no-repeat center center/cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.897);
}
.large-text {
    font-size: 4.5rem;
    font-weight: bold;
    max-width: 800px;
    margin-top: 150px;
    margin-left: 60px;
}
.small-text {
    font-size: 2rem;
    max-width: 600px;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 60px;
    margin-bottom: 130px;
}


.container {
    background: url('background2.png') no-repeat center center/cover;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card {
    margin-top: 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card:nth-child(even) {
    margin-left: auto;
    margin-right: 100px;
}
.card:nth-child(odd) {
    margin-right: auto;
    margin-left: 100px;
}
.card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}
.card ul {
    list-style-type: disc;
    padding-left: 20px;
}
.card li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

.space {
    height: 89px;
}
#b3 {
    background: url('background3.png') no-repeat center center/cover;
}

@media only screen and (max-width: 915px) {
    .space {
        height: 0;
    }
}
@media only screen and (max-width: 800px) {
    .card:nth-child(even) {
        margin-left: 20px;
        margin-right: 20px;
    }
    .card:nth-child(odd) {
        margin-right: 20px;
        margin-left: 20px;
    }
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 650px) {
    .large-text {
        font-size: 3rem;
    }
}